Repository krawaller/algol5, pull requests merged in 2020-10, with the labels that each got.

#368 Add Can the Sardines
  modules/content/material/games/canthesardines/about.md
  modules/content/material/games/canthesardines/arrangements.ts
  modules/content/material/games/canthesardines/links.ts
  modules/content/material/games/canthesardines/pics/magazine.jpg
  modules/content/material/games/canthesardines/rules.md
  modules/games/definitions/canthesardines/_types.ts
  modules/games/definitions/canthesardines/ai.ts
  modules/games/definitions/canthesardines/anim.ts
  modules/games/definitions/canthesardines/boards.ts
  modules/games/definitions/canthesardines/flow.ts
  modules/games/definitions/canthesardines/generators.ts
  modules/games/definitions/canthesardines/graphics.ts
  modules/games/definitions/canthesardines/index.ts
  modules/games/definitions/canthesardines/instructions.ts
  modules/games/definitions/canthesardines/meta.ts
  modules/games/definitions/canthesardines/performance.ts
  modules/games/definitions/canthesardines/scripts.ts
  modules/games/definitions/canthesardines/setups.ts
  modules/games/definitions/canthesardines/variants.ts
  modules/logic/generated/canthesardines.js
Labels: New game :video_game:

#370 Fix new code generation
  modules/games/commands/helpers/newCode.ts
  modules/games/definitions/canthesardines/meta.ts
Labels: Bug :bug:, Minor tweak :mag:

#378 Update desdemona
  modules/content/material/games/desdemona/rules.md
  modules/games/definitions/desdemona/_types.ts
  modules/games/definitions/desdemona/boards.ts
  modules/games/definitions/desdemona/flow.ts
  modules/games/definitions/desdemona/generators.ts
  modules/games/definitions/desdemona/graphics.ts
  modules/games/definitions/desdemona/instructions.ts
  modules/games/definitions/desdemona/meta.ts
  modules/games/definitions/desdemona/performance.ts
  modules/games/definitions/desdemona/scripts.ts
  modules/games/definitions/desdemona/setups.ts
  modules/games/definitions/desdemona/variants.ts
  modules/logic/generated/desdemona.js
Labels: Game definitions :boom:

#362 Add game Neutreeko
  modules/content/material/games/neutreeko/about.md
  modules/content/material/games/neutreeko/arrangements.ts
  modules/content/material/games/neutreeko/links.ts
  modules/content/material/games/neutreeko/pics/physicalneutreeko.jpg
  modules/content/material/games/neutreeko/rules.md
  modules/content/material/games/neutron/about.md
  modules/games/definitions/neutreeko/_types.ts
  modules/games/definitions/neutreeko/ai.ts
  modules/games/definitions/neutreeko/anim.ts
  modules/games/definitions/neutreeko/boards.ts
  modules/games/definitions/neutreeko/flow.ts
  modules/games/definitions/neutreeko/generators.ts
  modules/games/definitions/neutreeko/graphics.ts
  modules/games/definitions/neutreeko/index.ts
  modules/games/definitions/neutreeko/instructions.ts
  modules/games/definitions/neutreeko/meta.ts
  modules/games/definitions/neutreeko/performance.ts
  modules/games/definitions/neutreeko/scripts.ts
  modules/games/definitions/neutreeko/setups.ts
  modules/games/definitions/neutreeko/variants.ts
  modules/logic/generated/neutreeko.js
  modules/types/gamedef/meta.ts
Labels: New game :video_game:

#382 Add news article about not being alone anymore <3
  modules/content/material/news/news_2020_10_20/news.md
  modules/content/material/news/news_2020_10_20/pics/eye_thumb.jpg
  modules/content/material/news/news_2020_10_20/pics/not_alone_logo_edge.jpg
Labels: Content :book:

#383 Fix news page meta image url
  modules/content/commands/helpers/writeNews.ts
  modules/content/material/news/news_2020_10_20/news.md
  modules/ui/src/components/PayloadArticlePage/PayloadArticlePage.make.tsx
Labels: App :iphone:, Bug :bug:

#376 Add game Support
  modules/common/analysis/index.ts
  modules/content/material/games/support/about.md
  modules/content/material/games/support/arrangements.ts
  modules/content/material/games/support/links.ts
  modules/content/material/games/support/pics/support_classes.jpg
  modules/content/material/games/support/rules.md
  modules/games/definitions/support/_types.ts
  modules/games/definitions/support/ai.ts
  modules/games/definitions/support/anim.ts
  modules/games/definitions/support/boards.ts
  modules/games/definitions/support/flow.ts
  modules/games/definitions/support/generators.ts
  modules/games/definitions/support/graphics.ts
  modules/games/definitions/support/index.ts
  modules/games/definitions/support/instructions.ts
  modules/games/definitions/support/meta.ts
  modules/games/definitions/support/performance.ts
  modules/games/definitions/support/scripts.ts
  modules/games/definitions/support/setups.ts
  modules/games/definitions/support/variants.ts
  modules/logic/generated/support.js
Labels: New game :video_game:

#386 Add game Razzle Dazzle
  modules/content/material/chunks/404/chunk.md
  modules/content/material/games/neutron/about.md
  modules/content/material/games/razzledazzle/about.md
  modules/content/material/games/razzledazzle/arrangements.ts
  modules/content/material/games/razzledazzle/links.ts
  modules/content/material/games/razzledazzle/pics/razzledazzle.jpg
  modules/content/material/games/razzledazzle/rules.md
  modules/games/definitions/neutron/meta.ts
  modules/games/definitions/razzledazzle/_types.ts
  modules/games/definitions/razzledazzle/ai.ts
  modules/games/definitions/razzledazzle/anim.ts
  modules/games/definitions/razzledazzle/boards.ts
  modules/games/definitions/razzledazzle/flow.ts
  modules/games/definitions/razzledazzle/generators.ts
  modules/games/definitions/razzledazzle/graphics.ts
  modules/games/definitions/razzledazzle/index.ts
  modules/games/definitions/razzledazzle/instructions.ts
  modules/games/definitions/razzledazzle/meta.ts
  modules/games/definitions/razzledazzle/performance.ts
  modules/games/definitions/razzledazzle/scripts.ts
  modules/games/definitions/razzledazzle/setups.ts
  modules/games/definitions/razzledazzle/variants.ts
  modules/logic/def2code/executors/expression/parser/parser.pos.ts
  modules/logic/generated/razzledazzle.js
  modules/types/primitives/pos/index.ts
Labels: New game :video_game:

#387 Fix Razzle Dazzle action shot
  modules/games/definitions/razzledazzle/variants.ts
  modules/next/commands/helpers/makeGameMainPage.ts
  modules/next/pages/_app.tsx
Labels: App :iphone:, Bug :bug:, Game definitions :boom:

#390 Add game Partisans
  modules/content/material/games/desdemona/about.md
  modules/content/material/games/desdemona/rules.md
  modules/content/material/games/partisans/about.md
  modules/content/material/games/partisans/arrangements.ts
  modules/content/material/games/partisans/links.ts
  modules/content/material/games/partisans/pics/maclean.jpg
  modules/content/material/games/partisans/rules.md
  modules/games/definitions/partisans/_types.ts
  modules/games/definitions/partisans/ai.ts
  modules/games/definitions/partisans/anim.ts
  modules/games/definitions/partisans/boards.ts
  modules/games/definitions/partisans/flow.ts
  modules/games/definitions/partisans/generators.ts
  modules/games/definitions/partisans/graphics.ts
  modules/games/definitions/partisans/index.ts
  modules/games/definitions/partisans/instructions.ts
  modules/games/definitions/partisans/meta.ts
  modules/games/definitions/partisans/performance.ts
  modules/games/definitions/partisans/scripts.ts
  modules/games/definitions/partisans/setups.ts
  modules/games/definitions/partisans/variants.ts
  modules/logic/generated/partisans.js
Labels: Game definitions :boom:
